In [1]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url_medallero='https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos_de_Barcelona_1992'
html_medallero = requests.get(url_medallero)

In [3]:
html_medallero.status_code

200

In [4]:
sopa_medallero = BeautifulSoup(html_medallero.content, "html.parser")

In [5]:
medallero = sopa_medallero.find_all('table')

In [6]:
len(medallero)

14

In [7]:
medallero_juegos = medallero[-4]

In [8]:
len(medallero_juegos.find_all('tr'))

11

In [9]:
medallero_juegos.find_all('tr')[4].findAll("td")

[<td>4</td>,
 <td align="left"><img alt="China" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/22px-Flag_of_the_People%27s_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/33px-Flag_of_the_People%27s_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/44px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" width="22"/> <a href="/wiki/China_en_los_Juegos_Ol%C3%ADmpicos_de_Barcelona_1992" title="China en los Juegos Olímpicos de Barcelona 1992">China </a> <small>(CHN)</small></td>,
 <td>16</td>,
 <td>22</td>,
 <td>16</td>,
 <td>54
 </td>]

In [10]:
medallero_juegos.find_all('tr')[4].findAll("td")[2].getText()

'16'

In [11]:
diccionario2 = {'nombre': [],
                'oro': [],
                'plata': [],
                'bronce': []}

In [12]:
for f in medallero_juegos.find_all('tr'):    
    fila = [elemento for elemento in f.find_all('td')]
    if len(fila)>1:
        diccionario2['nombre'].append(fila[1].find('a').getText())
        diccionario2['oro'].append(fila[2].getText())
        diccionario2['plata'].append(fila[3].getText())
        diccionario2['bronce'].append(fila[4].getText())

In [13]:
diccionario2

{'nombre': ['Equipo Unificado ',
  'Estados Unidos ',
  'Alemania ',
  'China ',
  'Cuba ',
  'España ',
  'Corea del Sur ',
  'Hungría ',
  'Francia ',
  'Australia '],
 'oro': ['45', '37', '33', '16', '14', '13', '12', '11', '8', '7'],
 'plata': ['38', '34', '21', '22', '6', '7', '5', '12', '5', '9'],
 'bronce': ['29', '37', '28', '16', '11', '2', '12', '7', '16', '11']}

In [14]:
data_total = pd.DataFrame(diccionario2)

In [16]:
data_total.head(2)

              nombre oro plata bronce
0  Equipo Unificado   45    38     29
1    Estados Unidos   37    34     37

In [ ]:
pd.read_clipboard()